---
import Layout from '../layouts/LayoutWorks.astro'
import Banner from '../components/Works/Banner.astro'
import FooterWorks from '../components/FooterWorks.astro'
import SectionContainer from '../components/SectionContainer.astro'
import General1 from '../components/Works/General1.astro'
import General2 from '../components/Works/General2.astro'
import General3 from '../components/Works/General3.astro'
---

<Layout title='Welcome to Astro.'>
  <Banner
    video='/portadas-trabajos/alimentacion-portada.mp4'
    title='Alimentacion'
    videoMobile=''
  />
  <main>
    <SectionContainer class='pb-6'>
      <General1
        title='El Arte de la Alimentación en Video'
        text='Transmitir la esencia de la alimentación va más allá de capturar un plato. Se trata de mostrar la dedicación y el arte detrás de cada creación culinaria.'
        video=''
      />
    </SectionContainer>

    <SectionContainer class='pb-6'>
      <General2
        text='Mis vídeos para el sector alimentario destacan cada aspecto de la cocina, desde la selección de ingredientes hasta la presentación final en el plato. Capturo texturas, colores y detalles de cada creación para que la audiencia sienta el sabor y la experiencia culinaria a través de la pantalla.'
        video=''
      />
    </SectionContainer>

    <SectionContainer class='pb-6'>
      <General3 video1='' video2='' video3='' />
    </SectionContainer>
  </main>
  <FooterWorks
    text='¿Quieres destacar la esencia de tu marca de alimentación? Contacta y hablemos sobre cómo crear vídeos que reflejen la pasión detrás de cada plato.'
  />
</Layout>
