---
import Layout from '../layouts/LayoutWorks.astro'
import Banner from '../components/Works/Banner.astro'
import FooterWorks from '../components/FooterWorks.astro'
import SectionContainer from '../components/SectionContainer.astro'
import General1 from '../components/Works/General1.astro'
import General2 from '../components/Works/General2.astro'
import Bodas5 from '../components/Works/Bodas5.astro'
---

<Layout title=''>
  <Banner
    video='/portadas-trabajos/bodas-portada.mp4'
    title='Bodas'
    videoMobile=''
  />
  <main class='pb-20'>
    <SectionContainer class='py-20 2xl:pt-80 xl:pt-20 md:pt-56'>
      <General1
        title='Creando Recuerdos Eternos'
        text=' Una boda es un momento único e irrepetible. Mis vídeos capturan la emoción, los detalles y el amor que llenan ese día tan especial.'
        video='https://drive.google.com/file/d/1wKLvERzOynx9NX6N0EQmzNwSS-vuwd4S/'
      />
    </SectionContainer>

    <SectionContainer class='py-20'>
      <General2
        text='Cada boda tiene su propia historia, y mi objetivo es narrarla de forma auténtica y emocional. Desde los votos hasta la primera danza, cada momento queda inmortalizado en un recuerdo visual que podrás revivir siempre.'
        video='./gifs-trabajos/gif-bodas.mp4'
      />
    </SectionContainer>

    <SectionContainer class='py-20'>
      <Bodas5
        video1='https://drive.google.com/file/d/1BvJRgDcWVHrZiR_fVTsy8oTlGIIiq85g/'
        video2='https://drive.google.com/file/d/13jKnZxkh38_Zb_woV8D0KOwfvy42xDyX/'
        video3='https://drive.google.com/file/d/183fh0JMW44Be-lx8HxA1lTdHpXGhzi68/'
        video4='https://drive.google.com/file/d/1VY144Mw3Dtv0xWaOTXRV9EyQpbB_PzGi/'
      />
    </SectionContainer>
  </main>
  <FooterWorks
    text='¿Quieres un recuerdo eterno de tu boda? Hablemos sobre cómo puedo ayudarte a capturar cada momento especial.'
  />
</Layout>
