---
import Layout from '../layouts/LayoutWorks.astro'
import Banner from '../components/Works/Banner.astro'
---

<Layout title='Welcome to Astro.'>
  <Banner
    video='/portadas-trabajos/corporativo-portada.mp4'
    title='Corporativos y marcas'
    videoMobile=''
  />
  <main></main>
</Layout>
