---
import Layout from '../layouts/LayoutWorks.astro'
import Banner from '../components/Works/Banner.astro'
import FooterWorks from '../components/FooterWorks.astro'
import SectionContainer from '../components/SectionContainer.astro'
import General1 from '../components/Works/General1.astro'
import General2 from '../components/Works/General2.astro'
import General3 from '../components/Works/General3.astro'
import General4 from '../components/Works/General4.astro'
---

<Layout title='Welcome to Astro.'>
  <Banner
    video='/portadas-trabajos/corporativo-portada.mp4'
    title='Corporativos y marcas'
    videoMobile=''
  />
  <main class='pb-20'>
    <SectionContainer class='py-20 2xl:pt-80 xl:pt-20 md:pt-56'>
      <General1
        title='Impulsando Marcas con Historias Visuales'
        text='Las marcas necesitan destacar en un entorno competitivo. A través de vídeos estratégicos y auténticos, ayudo a empresas a conectar profundamente con su audiencia.'
        video='https://drive.google.com/file/d/1EDVr4S11k3GLTmhejrY2MEQq8iDuOLsG/'
      />
    </SectionContainer>

    <SectionContainer class='py-20'>
      <General2
        text='En los vídeos corporativos, muestro la identidad de la empresa, sus valores y el impacto que tiene en su sector. Cada proyecto está diseñado para comunicar la esencia de la marca de una forma cautivadora y profesional.'
        video='https://drive.google.com/file/d/1Qa7bZu-QLZZ3BrgYX9DViHPQML3TKxRs/'
      />
    </SectionContainer>

    <SectionContainer class='py-20'>
      <General3
        video1='https://drive.google.com/file/d/1HJQf4QelyFhr7LtDVtxUZReGXkmANu0i/'
        video2='https://drive.google.com/file/d/1hTcTz4_2DvC8u5u57LgZoebUFE1ISjne/'
        video3='https://drive.google.com/file/d/1L61JFUMmXR-zkgvZZGPns2L1QYS1lA3Y/'
      />
    </SectionContainer>

    <SectionContainer class='py-20'>
      <General4
        video1='https://drive.google.com/file/d/1npL2vLidkE77KWu0S47kKxPdLHG_Z4SY/'
        video2='https://drive.google.com/file/d/1XpD3DPl-opfNYSDCxBfiS546m9fElHtn/'
        video3='https://drive.google.com/file/d/1GPw5zRT5_nOJppa0wg5af2eT5HkIgTUp/'
      />
    </SectionContainer>
  </main>
  <FooterWorks
    text='¿Quieres que tu marca destaque? Hablemos sobre cómo puedo ayudar a transmitir la identidad de tu empresa.'
  />
</Layout>
