---
import Layout from '../layouts/LayoutWorks.astro'
import Banner from '../components/Works/Banner.astro'
import FooterWorks from '../components/FooterWorks.astro'
import SectionContainer from '../components/SectionContainer.astro'
import General1 from '../components/Works/General1.astro'
import General2 from '../components/Works/General2.astro'
---

<Layout title='Cortos y Documentales | Oriol Ortega'>
  <Banner
    video='/portadas-trabajos/cortometraje-portada.mp4'
    title='Cortometraje'
    videoMobile=''
  />
  <main></main>
  <FooterWorks
    text='¿Quieres llevar una historia a la pantalla con un enfoque creativo e impactante? Hablemos sobre cómo puedo ayudarte a dar vida a tus ideas.'
  />
</Layout>
