---
import Layout from '../layouts/LayoutWorks.astro'
import Banner from '../components/Works/Banner.astro'
import FooterWorks from '../components/FooterWorks.astro'
import SectionContainer from '../components/SectionContainer.astro'
import General1 from '../components/Works/General1.astro'
import General2 from '../components/Works/General2.astro'
---

<Layout title='Cortos y Documentales | Oriol Ortega'>
  <Banner
    video='/portadas-trabajos/cortometraje-portada.mp4'
    title='Cortometraje'
    videoMobile=''
  />
  <main>
    <SectionContainer class='py-24'>
      <h3
        class='animate-on-scroll leading-none font-semibold mb-4 flex gap-x-2 items-center w text-[20px] xl:text-[70px] lg:text-[66px] md:text-[60px] sm:text-[40px]'>
        Creatividad en 48 Horas:
      </h3>
      <h2
        class='animate-on-scroll leading-none font-semibold mb-12 flex gap-x-2 items-center w text-[38px] xl:text-[84px] lg:text-[80px] md:text-[74px] sm:text-[58px]'>
        Premio al Mejor Cortometraje
      </h2>
      <p
        class='animate-on-scroll mb-12 text-center text-[20px] xl:text-[26px] md:text-[22px]'>
        En 2029, tuve la oportunidad de participar en un desafío único: crear un
        cortometraje completo en solo 48 horas, desde la planificación hasta la
        postproducción. Un reto que culminó con el primer premio, gracias a un
        enfoque creativo y la capacidad de contar una historia bajo presión.
      </p>
      <p
        class='animate-on-scroll font-semibold mb-4 text-[24px] xl:text-[30px] md:text-[26px]'>
        Este cortometraje fue desarrollado bajo tres premisas específicas:
      </p>
      <ul
        class='animate-on-scroll list-disc text-[14px] xl:text-[20px] md:text-[16px]'>
        <li class='mb-4 ml-10'>
          <b>Ubicación:</b> La historia debía incluir escenas que representaran la
          ciudad de Hospitalet
        </li>
        <li class='mb-4 ml-10'>
          <b>Diálogo Obligatorio:</b> Incluir la frase “Yo no soy extraño, sencillamente,
          no soy normal”
        </li>
        <li class='mb-4 ml-10'>
          <b>Acción Requerida:</b> Incorporar una acción significativa que involucrara
          una tiza.
        </li>
      </ul>

      <aside class='animate-on-scroll my-12'>
        <iframe
          class='w-full aspect-[2/1]'
          src={'https://drive.google.com/file/d/1I5VmP9-G1G-9LdnuoNthvWmK0NetP7so/' +
            'preview'}
          allow='autoplay'
          allowfullscreen></iframe>
      </aside>
    </SectionContainer>
  </main>
  <FooterWorks
    text='¿Quieres llevar una historia a la pantalla con un enfoque creativo e impactante? Hablemos sobre cómo puedo ayudarte a dar vida a tus ideas.'
  />
</Layout>
