---
import Layout from '../layouts/LayoutWorks.astro'
import Banner from '../components/Works/Banner.astro'
import FooterWorks from '../components/FooterWorks.astro'
import SectionContainer from '../components/SectionContainer.astro'
import General1 from '../components/Works/General1.astro'
import General2 from '../components/Works/General2.astro'
import General3 from '../components/Works/General3.astro'
import General4 from '../components/Works/General4.astro'
---

<Layout title='Welcome to Astro.'>
  <Banner
    video='/portadas-trabajos/deportes-portada.mp4'
    title='Eventos deportivos'
    videoMobile=''
  />
  <main class='pb-20 mx-5'>
    <SectionContainer class='py-20 2xl:pt-80 xl:pt-20 md:pt-56'>
      <General1
        title='Capturando la Acción y la Emoción del Deporte'
        text='Los eventos deportivos están llenos de intensidad y momentos únicos. Capturo cada instante de emoción, desde la acción en el campo hasta la reacción del público.'
        video='https://drive.google.com/file/d/1zD2-gPXfKx94T5cygYpEgzP-vMrikQKB/'
      />
    </SectionContainer>

    <SectionContainer class='py-20'>
      <General2
        text=' Mis vídeos reflejan la energía y el espíritu de cada evento deportivo. Documentar la acción en vivo y los momentos clave permite que los espectadores revivan la emoción una y otra vez.'
        video='./gifs-trabajos/gif-deportes.mp4'
      />
    </SectionContainer>

    <SectionContainer class='py-20'>
      <General3
        video1='https://drive.google.com/file/d/1zKFP4jyREix_WBF2SEBzVyCbXmRvR3a2/'
        video2='https://drive.google.com/file/d/17_gpUZEJ4mIlIdVQmTYHW4o-upDPXl2S/'
        video3='https://drive.google.com/file/d/1tuy7JPQ7LtnM2oU4kGBjy5HMtgc68bSO/'
      />
    </SectionContainer>

    <SectionContainer class='py-20'>
      <General4
        video1='https://drive.google.com/file/d/13vAy1pmlCA5SHKN1BONj6i6mwsbmiQ7w/'
        video2='https://drive.google.com/file/d/1TJn_b3mgL6tAQZbaNKLCyhDbqKDAUWHl/'
        video3='https://drive.google.com/file/d/1Mc_jkqPMgesuSIeizB-aggA7O8pdP97-/'
      />
    </SectionContainer>

    <SectionContainer class='py-20'>
      <General3
        video1='https://drive.google.com/file/d/1DGw8lrDIgur7gzgMRJcD5VM1A9X702v1/'
        video2='https://drive.google.com/file/d/1rX69A4JueaWYq32lZsSchAehoRDGZlKP/'
        video3='https://drive.google.com/file/d/1TJn_b3mgL6tAQZbaNKLCyhDbqKDAUWHl/'
      />
    </SectionContainer>
  </main>
  <FooterWorks
    text='¿Organizas un evento deportivo? Hablemos sobre cómo capturar cada detalle en video.'
  />
</Layout>
