---
import Layout from '../layouts/LayoutWorks.astro'
import Banner from '../components/Works/Banner.astro'
import FooterWorks from '../components/FooterWorks.astro'
import SectionContainer from '../components/SectionContainer.astro'
import General1 from '../components/Works/General1.astro'
import General2 from '../components/Works/General2.astro'
import Educacion7 from '../components/Works/Educacion7.astro'
---

<Layout title='Educacion | Oriol Ortega'>
  <Banner
    video='/portadas-trabajos/eduacion-portada.webm'
    title='Educacion'
    videoMobile=''
  />
  <main class='pb-20'>
    <SectionContainer class='py-24'>
      <General1
        title='Capturando el Espíritu Educativo'
        text='Las escuelas son lugares llenos de momentos que merecen ser recordados. Desde clases hasta eventos especiales, cada momento cuenta en la vida escolar.'
        video='https://drive.google.com/file/d/1ZtoBEBmt9VAD_S6oIZ3mVlsZWpGprtw7/'
      />
    </SectionContainer>

    <SectionContainer class='py-20'>
      <General2
        text='Mis vídeos para escuelas capturan la esencia de la vida estudiantil y académica. Documentamos el ambiente de aprendizaje, la colaboración entre estudiantes y profesores, y los eventos que reflejan los valores de cada institución.'
        video='./gifs-trabajos/gif-educacion.webm'
      />
    </SectionContainer>

    <SectionContainer class='py-20'>
      <Educacion7
        video1='https://drive.google.com/file/d/1ZkkPPGWqamuOWNulgGaKGbTpD_8GWmXl/'
        video2='https://drive.google.com/file/d/12GH7aYkI0rgsxKsRIUw_ucBWtajzfG-g/'
        video3='https://drive.google.com/file/d/1EI81Mz646CQqViazEFBDHjbkDrd8GkaU/'
        video4='https://drive.google.com/file/d/1P3oErQsKdqrep6gelonVRXLKLAJjSrXR/'
      />
    </SectionContainer>
  </main>
  <FooterWorks
    text='¿Quieres mostrar la esencia de tu institución?  Hablemos sobre cómo capturar esos momentos importantes para compartirlos con tu comunidad.'
  />
</Layout>
