---
import Layout from '../layouts/LayoutWorks.astro'
import Banner from '../components/Works/Banner.astro'
import FooterWorks from '../components/FooterWorks.astro'
import SectionContainer from '../components/SectionContainer.astro'
import General1 from '../components/Works/General1.astro'
import General2 from '../components/Works/General2.astro'
import Eventos6 from '../components/Works/Eventos6.astro'
---

<Layout title='Eventos y Festivales | Oriol Ortega'>
  <Banner
    video='/portadas-trabajos/eventos-portada.webm'
    title='Eventos'
    videoMobile=''
  />
  <main class='pb-20'>
    <SectionContainer class='py-24'>
      <General1
        title='Capturando Momentos Únicos en Cada Evento'
        text='Ya sea una fiesta vibrante o un evento privado, cada momento especial merece ser inmortalizado. Me encargo de capturar la atmósfera y la energía de cada celebración.'
        video='https://drive.google.com/file/d/1jSzwnb_YsAMRZMdVZHcQpp2EndgfzxW9/'
      />
    </SectionContainer>

    <SectionContainer class='py-8 md:py-20'>
      <General2
        text='Mis vídeos para eventos capturan el espíritu de cada ocasión, desde la energía de una fiesta hasta los momentos íntimos de una reunión privada. Trabajo para reflejar la esencia del evento de forma natural y auténtica.'
        video='./gifs-trabajos/gif-eventos.webm'
      />
    </SectionContainer>
    <SectionContainer class='py-8 md:py-20'>
      <General2
        text='Mis vídeos para eventos capturan el espíritu de cada ocasión, desde la energía de una fiesta hasta los momentos íntimos de una reunión privada. Trabajo para reflejar la esencia del evento de forma natural y auténtica.'
        video='./gifs-trabajos/gif-eventos-muska.webm'
      />
    </SectionContainer>
    <SectionContainer class='py-8 md:py-20'>
      <General2
        text='Mis vídeos para eventos capturan el espíritu de cada ocasión, desde la energía de una fiesta hasta los momentos íntimos de una reunión privada. Trabajo para reflejar la esencia del evento de forma natural y auténtica.'
        video='./gifs-trabajos/gif-eventos-daurada.webm'
      />
    </SectionContainer>

    <SectionContainer
      class='py-20 flex flex-col gap-8 justify-between xl:flex-row'>
      <Eventos6
        video1='https://drive.google.com/file/d/1f_CeJ1pPP_hdE8mmpoFWsmORlqA9rIvk/'
        video2='https://drive.google.com/file/d/1A9g9ow41HwnQqSz0qxa9DFFUR9eecx6d/'
        video3='https://drive.google.com/file/d/1y6UnhQzStDE8PRknPVDDeEGNwTM8ic4z/'
        video4='https://drive.google.com/file/d/13zCYARs-OGpB74hg8pxuBohVtYYfyKYn/'
      />
      <Eventos6
        video1='https://drive.google.com/file/d/12-j_L4V--F3K73TQtS8lbJIp3ZqV5Kq2/'
        video2='https://drive.google.com/file/d/1BcA8WkGxO0xFP6rQfotvwxb6SesjdLya/'
        video3='https://drive.google.com/file/d/1kgQNyJvRSGPxhpzv4qTs8lUyUiv8FFN_/'
        video4='https://drive.google.com/file/d/1x9Zsk3t4Z8CQVR1b9KOJnXOVV0v6Ck6g/'
      />
    </SectionContainer>
  </main>
  <FooterWorks
    text='¿Quieres un recuerdo único de tu próximo evento? Contáctame para capturar cada momento especial.'
  />
</Layout>
