---
import Layout from '../layouts/Layout.astro'
import SectionContainer from '../components/SectionContainer.astro'
import ScrollEffect from '../components/ScrollEffect.astro'
import MarqueeContainer from '../components/MarqueeContainer.astro'
import { Globe } from '../components/MagicUI/Globe'
import BigWordsScroll from '../components/React/BigWordsScroll'
---

<Layout title='Oriol Ortega | Home'>
  <main class=''>
    <SectionContainer class='py-24'>
      <h2
        class='animate-on-scroll leading-none justify-center text-center font-semibold mb-6 flex gap-x-2 items-center w text-[38px] xl:text-[84px] lg:text-[80px] md:text-[74px] sm:text-[58px]'>
        Historias que inspiran y conectan
      </h2>
      <p
        class='animate-on-scroll mb-4 text-xl max-w-[850px] text-center my-5 mx-auto'>
        Cada proyecto es una oportunidad para crear algo especial. Desde eventos
        hasta campañas de marca, capturo la esencia de cada momento.
      </p>
      <div class='grid gap-5 md:grid-cols-4 md:grid-rows-5'>
        <div class='md:col-span-2 md:row-span-2'>
          <video
            class='animate-on-scroll gift-video'
            src='./gifs-home-3.mp4'
            loop
            muted
            playsinline></video>
        </div>
        <div
          class='col-start-1 row-start-4 md:col-span-2 md:row-span-2 md:col-start-3'>
          <video
            class='animate-on-scroll gift-video'
            src='./gifs-home-4.mp4'
            loop
            muted
            playsinline></video>
        </div>
        <div
          class='row-span-2 col-start-1 row-start-2 md:col-span-2 md:row-span-3 md:row-start-3'>
          <video
            class='animate-on-scroll gift-video'
            src='./gifs-home-1.mp4'
            loop
            muted
            playsinline></video>
        </div>
        <div
          class='row-span-2 row-start-5 md:col-span-2 md:row-span-3 md:col-start-3 md:row-start-3'>
          <video
            class='animate-on-scroll gift-video'
            src='./gifs-home-2.mp4'
            loop
            muted
            playsinline></video>
        </div>
      </div>
    </SectionContainer>

    <BigWordsScroll client:visible='react' />

    <MarqueeContainer />

    <Globe client:load />

    <ScrollEffect
      text='¿Listo para crear algo increible?'
      class='bg-[#0D0D0D]'
    />
  </main>
</Layout>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const videos = document.querySelectorAll('.gift-video')

    videos.forEach((video) => {
      video.addEventListener('mouseenter', () => {
        videos.forEach((v) => {
          if (v !== video) {
            v.pause()
          }
        })
        video.play()
      })
    })
  })
</script>
