---
import Layout from '../layouts/LayoutWorks.astro'
import Banner from '../components/Works/Banner.astro'
import FooterWorks from '../components/FooterWorks.astro'
import SectionContainer from '../components/SectionContainer.astro'
import General1 from '../components/Works/General1.astro'
import General2 from '../components/Works/General2.astro'
import General3 from '../components/Works/General3.astro'
---

<Layout title='Moda | Oriol Ortega'>
  <Banner
    video='/portadas-trabajos/moda-portada.mp4'
    title='Moda'
    videoMobile=''
  />
  <main class='pb-20'>
    <SectionContainer class='py-20 2xl:pt-80 xl:pt-20 md:pt-56'>
      <General1
        title='Estilo, Innovación y Tendencia en Cada Toma'
        text='El mundo de la moda requiere vídeos que hablen por sí solos. Mis producciones capturan el estilo y la identidad de cada colección y marca.'
        video='https://drive.google.com/file/d/1DfvLWMvribPwjFc4eMknvI-Tvg8CJZDc/'
      />
    </SectionContainer>

    <SectionContainer class='py-20'>
      <General2
        text='Mis vídeos para moda destacan el diseño, la textura y la esencia de cada colección. Trabajando en sintonía con la marca, creo contenido visual que conecta con el público y potencia la imagen de cada producto'
        video='./gifs-trabajos/gif-moda.mp4'
      />
    </SectionContainer>

    <SectionContainer class='py-20'>
      <General3
        video1='https://drive.google.com/file/d/15AIEU9Q75EyXPqk_Z_PVIsxKpBhHgfaF/'
        video2='https://drive.google.com/file/d/1md_gQiLRJuxHBEkoAYRFQCpJKuS-e9Nb/'
        video3='https://drive.google.com/file/d/1a5PDLzg-fLyMEtLmXJuMCntuqquMnOzQ/'
      />
    </SectionContainer>
  </main>
  <FooterWorks
    text='Buscas destacar tu marca de moda? Hablemos sobre cómo crear contenido visual que impacte y fidelice.'
  />
</Layout>
