---
import Layout from '../layouts/LayoutWorks.astro'
import Banner from '../components/Works/Banner.astro'
import FooterWorks from '../components/FooterWorks.astro'
import SectionContainer from '../components/SectionContainer.astro'
import General1 from '../components/Works/General1.astro'
import General2 from '../components/Works/General2.astro'
import General3 from '../components/Works/General3.astro'
---

<Layout title='Gastronomía | Oriol Ortega'>
  <Banner
    video='/portadas-trabajos/restaurantes-portada.mp4'
    title='Resturación'
    videoMobile=''
  />
  <main class='pb-20'>
    <SectionContainer class='py-24'>
      <General1
        title='El Sabor de tu Marca, en Video'
        text=' Un buen plato merece una presentación que haga justicia a su sabor. Mis vídeos para restaurantes capturan la atmósfera, el arte culinario y la experiencia gastronómica que ofreces.'
        video='https://drive.google.com/file/d/1tMSSk5hIVYxBFi2DgxAf9_3N7jJcaPDQ/'
      />
    </SectionContainer>

    <SectionContainer class='py-20'>
      <General2
        text='Con cada vídeo, destaco la identidad única de tu restaurante, desde la calidad de los ingredientes hasta la calidez del servicio. Cada detalle importa para crear una experiencia visual que atraiga y fidelice a tus clientes.'
        video='./gifs-trabajos/gif-restaurantes.mp4'
      />
    </SectionContainer>

    <SectionContainer class='py-20'>
      <General3
        video1='https://drive.google.com/file/d/1Q7ZkDPidcqknoWaqQ0NfjBrFeHMbrBkG/'
        video2='https://drive.google.com/file/d/1Oe78LpD5kZSmsoEL7Fh_T9MQiYuhMzX1/'
        video3='https://drive.google.com/file/d/1esB5XjVumtCZmqeleDsur4eq8tVZ-sQA/'
      />
    </SectionContainer>
  </main>
  <FooterWorks
    text='¿Quieres atraer más clientes a tu restaurante? Descubre cómo puedo ayudarte a reflejar la esencia de tu cocina.'
  />
</Layout>
