---
import Layout from '../layouts/LayoutWorks.astro'
---

<Layout title='Gracias | Oriol Ortega'>
  <main class='flex justify-center items-center h-screen'>
    <div class='text-center'>
      <h1 class='text-4xl font-bold'>Gracias por tu mensaje</h1>
      <p class='mt-4'>En breve me pondré en contacto contigo</p>
      <a class='underline' href='/'>Volver a la web</a>
    </div>
  </main>
</Layout>
