---
import Layout from '../layouts/Layout.astro'
import WorksSlider from '../components/WorksSlider.astro'
---

<Layout title='Proyectos | Oriol Ortega'>
  <main class='bg-[#0D0D0D]'>
    <WorksSlider />
  </main>
</Layout>
