---
import Layout from '../layouts/Layout.astro'
import SectionContainer from '../components/SectionContainer.astro'
import WorksSlider from '../components/WorksSlider.astro'
import WorksSliderFunc from '../components/WorkSliderFunc.astro'
---

<Layout title='Welcome to Astro.'>
  <main>
    <WorksSlider />
  </main>
</Layout>
