---
import Facebook from './Icons/Facebook.astro'
import Instagram from './Icons/Instagram.astro'
import LinkedIn from './Icons/LinkedIn.astro'
import Youtube from './Icons/Youtube.astro'

interface Props {
  text: string
}
const { text } = Astro.props
---

<div class='w-full mx-auto xl:w-[1300px] mb-10'>
  <h4
    class='text-center text-xl xl:text-5xl lg:text-4xl md:text-3xl sm:text-2xl'>
    {text}
  </h4>
</div>
<footer class='w-full mx-auto xl:w-[1300px] mb-5 justify-center'>
  <div class='flex flex-col justify-evenly sm:flex-row'>
    <div class='flex items-center gap-5 w-[350px] justify-center'>
      <Facebook class='size-9' />
      <Instagram class='size-9' />
      <LinkedIn class='size-9' />
      <Youtube class='size-9' />
    </div>

    <a href='/'>
      <img
        src='./o-logo.png'
        alt='Logo'
        width='100px'
        height='10px'
        class='mx-5'
        style='filter: drop-shadow(0 0 5px rgba(0,0,0,.8));'
      />
    </a>

    <div class='flex items-center gap-5 w-[350px] justify-center font-semibold'>
      <a href='/'>Inicio</a>
      <a href='/aboutMe'>Sobre Mi</a>
      <a href='/works'>Trabajos</a>
      <a href='/contact'>Contacto</a>
    </div>
  </div>
</footer>
