<header class=" h-screen relative">
    <video autoplay muted class="w-screen h-screen">
        <source src="./video-header.mp4" type="video/mp4" />
    </video>
    <h1 class="absolute" style="top: 10%; left: 50%; transform: translate(-50%, -50%);" >Oriol Ortega</h1>
    <img src="./o-logo.png" alt="" width="500px" height="500px" class="absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
</header>