---
import NavbarMenu from './NavbarMenu.astro'
import HeaderAnm from './React/HeaderaAnm'
import HeaderHomemMobile from './HeaderHomeMobile.astro'
---

<style>
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }

  @media (max-width: 768px) {
    .mobile {
      display: block;
    }
    .desktop {
      display: none;
    }
  }
</style>

<header class='h-full relative content-trigger'>
  <NavbarMenu />
  <div class='desktop'>
    <HeaderAnm client:visible />
  </div>
  <div class='mobile'>
    <HeaderHomemMobile />
  </div>
</header>
