---
import { Image } from 'astro:assets'
---

<header class='h-screen relative'>
  <div class='video-container'>
    <video
      class='absolute top-0 left-0 object-cover w-screen h-screen contrast-75'
      width='320'
      height='240'
      muted
      loop
      autoplay
      playsinline>
      <source src='./video-header-mobile.webm' type='video/webm' />
    </video>

    <div
      class='absolute'
      style={{
        top: '50%',
        left: '50%',
        transform: 'translate(-50%, -50%)',
        filter: 'drop-shadow(0 0 10px rgba(0,0,0,.8))'
      }}>
      <Image
        src='/o-logo.webp'
        alt='Logo'
        width='500'
        height='500'
        class='logo'
      />
    </div>
  </div>
</header>
