---
import HorizontalVideo from "./HorizontalVideo.astro"

const { class: className } = Astro.props;

const VIDEOS = [
    {
        title: "FrontEnd",
        src:"https://player.vimeo.com/video/245868810?h=4fa30ae97f&autoplay=1&background=1",
        format:"video/mp4",
        width:"auto",
        height:"auto"
    },
    {
        title: "BackEnd",
        src:"https://player.vimeo.com/video/245868810?h=4fa30ae97f&autoplay=1&background=1",
        format:"video/mp4",
        width:"auto",
        height:"auto"
    }
];
---

<div class=`grid grid-cols-1 grid-rows-2 gap-4 md:grid-cols-2 md:grid-rows-1 ${className}`>
    {VIDEOS.map((video) => <HorizontalVideo {...video} />)}
</div>
