---
import { Image } from 'astro:assets'
---

<!-- Main Navbar -->
<div
  class='w-full mx-auto fixed top-0 bg-black/60 backdrop-blur-lg shadow-md transition-all z-30 flex justify-between items-center px-4'
  id='navbar'>
  <div class='w-[50px] h-[50px] flex items-center justify-center'>
    <a href='/'>
      <Image src='/o-logo.png' alt='Logo' width='50' height='50' />
    </a>
  </div>
  <button
    class='md:hidden text-gray-400 text-2xl focus:outline-none'
    id='burger-menu'>
    &#9776;
  </button>
  <ul
    class='hidden md:flex justify-center items-center h-[60px] list-none m-0 p-0'>
    <li class='mx-4 w-[80px] flex justify-center'>
      <a
        href='/'
        class='text-gray-400 text-lg font-bold hover:text-gray-300 transition-colors'
        >Inicio</a
      >
    </li>
    <li class='mx-4 w-[80px] flex justify-center'>
      <a
        class='text-gray-400 text-lg font-bold hover:text-gray-300 transition-colors'
        >Sobre Mi</a
      >
    </li>
    <li class='mx-4 w-[80px] flex justify-center'>
      <a
        href='/works'
        class='text-gray-400 text-lg font-bold hover:text-gray-300 transition-colors'
        >Trabajos</a
      >
    </li>
    <li class='mx-4 w-[80px] flex justify-center'>
      <a
        href='/contact'
        class='text-gray-400 text-lg font-bold hover:text-gray-300 transition-colors'
        >Contacto</a
      >
    </li>
  </ul>
</div>

<!-- Mobile Menu Component -->
<div
  id='mobile-menu'
  class='fixed top-0 left-0 w-full h-full bg-black/80 text-white z-[1] flex flex-col items-center justify-center transition-all transform -translate-x-full'>
  <button
    id='close-mobile-menu'
    class='absolute top-4 right-4 text-white text-2xl'>X</button
  >
  <ul class='list-none text-center'>
    <li class='my-4'>
      <a href='/' class='text-lg font-bold hover:text-gray-300'>Inicio</a>
    </li>
    <li class='my-4'>
      <a href='/' class='text-lg font-bold hover:text-gray-300'>Sobre Mi</a>
    </li>
    <li class='my-4'>
      <a href='/works' class='text-lg font-bold hover:text-gray-300'>Trabajos</a
      >
    </li>
    <li class='my-4'>
      <a href='/contact' class='text-lg font-bold hover:text-gray-300'
        >Contacto</a
      >
    </li>
  </ul>
</div>

<script>
  // Obtener los elementos
  const navbar = document.getElementById('navbar')
  const mobileMenu = document.getElementById('mobile-menu')
  const burgerMenu = document.getElementById('burger-menu')
  const closeMobileMenu = document.getElementById('close-mobile-menu')

  // Función para abrir el menú móvil
  const openMobileMenu = () => {
    mobileMenu.style.transform = 'translateX(0)'
  }

  // Función para cerrar el menú móvil
  const closeMenu = () => {
    mobileMenu.style.transform = 'translateX(-100%)'
  }

  // Alternar la apertura y cierre del menú al hacer clic en el burger-menu
  burgerMenu.addEventListener('click', () => {
    if (mobileMenu.style.transform === 'translateX(0px)') {
      closeMenu()
    } else {
      openMobileMenu()
    }
  })

  // Cerrar el menú al hacer clic en el botón de cierre dentro del menú
  closeMobileMenu.addEventListener('click', closeMenu)
</script>
