---
const currentPath = Astro.url.pathname
---

<!-- Main Navbar -->
<div
  class='w-full mx-auto xl:w-[1300px] fixed top-0 bg-black/60 backdrop-blur-lg shadow-md transition-all z-30'
  id='navbar'>
  <ul class='flex justify-center items-center h-[60px] list-none m-0 p-0'>
    <li class='mx-4'>
      <a
        href='/'
        class='text-gray-400 text-lg font-bold hover:text-gray-300 transition-colors'
        >Inicio</a
      >
    </li>
    <li class='mx-4'>
      <a
        href='/aboutMe'
        class='text-gray-400 text-lg font-bold hover:text-gray-300 transition-colors'
        >Sobre Mi</a
      >
    </li>
    <li class='mx-4'>
      <a
        href='/works'
        class='text-gray-400 text-lg font-bold hover:text-gray-300 transition-colors'
        >Trabajos</a
      >
    </li>
    <li class='mx-4'>
      <a
        href='/contact'
        class='text-gray-400 text-lg font-bold hover:text-gray-300 transition-colors'
        >Contacto</a
      >
    </li>
  </ul>
</div>

<!-- Scroll Navbar -->
<div
  class='w-full mx-auto xl:w-[1300px] fixed top-0 hidden bg-black/60 backdrop-blur-lg shadow-md transition-all z-30'
  id='navbar-scroll'>
  <ul class='flex justify-center items-center h-[60px] list-none m-0 p-0'>
    <li class='mx-4'>
      <a
        href='/'
        class='text-gray-400 text-lg font-bold hover:text-gray-300 transition-colors'
        >Inicio</a
      >
    </li>
    <li class='mx-4'>
      <a
        href='/aboutMe'
        class='text-gray-400 text-lg font-bold hover:text-gray-300 transition-colors'
        >Sobre Mi</a
      >
    </li>
    <li class='mx-4'>
      <img src='./o-logo.png' alt='Logo' class='w-[50px] h-[50px]' />
    </li>
    <li class='mx-4'>
      <a
        href='/works'
        class='text-gray-400 text-lg font-bold hover:text-gray-300 transition-colors'
        >Trabajos</a
      >
    </li>
    <li class='mx-4'>
      <a
        href='/contact'
        class='text-gray-400 text-lg font-bold hover:text-gray-300 transition-colors'
        >Contacto</a
      >
    </li>
  </ul>
</div>

<script>
  // Navbar Scroll Effect
  const navbar = document.getElementById('navbar')
  const navbarScroll = document.getElementById('navbar-scroll')

  window.addEventListener('scroll', () => {
    if (window.scrollY > 50) {
      navbar.classList.add('hidden')
      navbarScroll.classList.remove('hidden')
    } else {
      navbar.classList.remove('hidden')
      navbarScroll.classList.add('hidden')
    }
  })
</script>
