---
const { text } = Astro.props
---

<div class='bg-[#d9d9d9]'>
  <div
    class='max-w-full text-[#d9d9d9] sticky h-screen top-0 left-0 pt-32 text-7xl xl:text-[175px] lg:text-9xl md:text-7xl sm:text-5xl'
    style='visibility: visible; animation-name: fadeIn; mix-blend-mode: difference; max-width: 108.3rem; line-height: 104%; letter-spacing: -0.06em; z-index: 1;'>
    <div class='ml-4 absolute' style='top: 50%; transform: translateY(-50%);'>
      {text}
    </div>
  </div>
  <div class='h-screen bg-[#0D0D0D] z-0' style='width: 100%;'></div>
</div>
