---
import WorkItem from './WorkItem.astro'

const WORKSTYPES = [
  {
    title: '',
    source: '',
    style: 'w-[18vw]'
  },
  {
    title: 'Corporativos y Marcas',
    source: '/portadas-trabajos/corporativo-portada.mp4'
  },
  {
    title: 'Restaurantes',
    source: '/portadas-trabajos/restaurantes-portada.mp4'
  },
  {
    title: 'Bodas',
    source: '/portadas-trabajos/bodas-portada.mp4'
  },
  {
    title: 'Eventos',
    source: '/portadas-trabajos/eventos-portada.mp4'
  },
  {
    title: 'Eventos deportivos',
    source: '/portadas-trabajos/deportes-portada.mp4'
  },
  {
    title: 'Moda',
    source: '/portadas-trabajos/moda-portada.mp4'
  },
  {
    title: 'Alimentacion',
    source: '/portadas-trabajos/alimentacion-portada.mp4'
  },
  {
    title: 'Educacion',
    source: '/portadas-trabajos/eduacion-portada.mp4'
  },
  {
    title: 'Cortometraje',
    source: '/portadas-trabajos/cortometraje-portada.mp4'
  },
  {
    title: '',
    source: '',
    style: 'w-[19vw]'
  }
]
---

<div class='w-full h-full'>
  <ul
    id='scroll-container'
    style='scroll-behavior: smooth;'
    class='list-none flex w-full h-full overflow-x-hidden whitespace-nowrap gap-20'>
    {
      WORKSTYPES.map((work) => (
        <li
          class={`${work.style} h-screen flex flex-none items-center justify-center text-8xl`}>
          <WorkItem {...work} />
        </li>
      ))
    }
  </ul>
</div>

<script>
  const scrollContainer = document.querySelector('#scroll-container')
  const scrollSpeed = 3 // Ajusta este valor para aumentar o reducir la velocidad

  scrollContainer.addEventListener('wheel', (event) => {
    event.preventDefault() // Evita el scroll vertical por defecto
    scrollContainer.scrollLeft += event.deltaY * scrollSpeed // Ajusta la velocidad
  })
</script>
