---
import WorkItem from './WorkItem.astro'

const WORKSTYPES = [
  {
    title: '',
    source: ''
  },
  {
    title: 'sada',
    source: '/video-header.mp4'
  },
  {
    title: 'fdsfs',
    source: '/video-header.mp4'
  },
  {
    title: 'saghfhda',
    source: '/video-header.mp4'
  },
  {
    title: '21313',
    source: '/video-header.mp4'
  },
  {
    title: 'sajklhjkda',
    source: '/video-header.mp4'
  },
  {
    title: '----',
    source: '/video-header.mp4'
  },
  {
    title: '',
    source: ''
  }
]
---

<div class='w-full h-full'>
  <ul
    id='scroll-container'
    style='scroll-behavior: smooth;'
    class='list-none flex w-full h-full overflow-x-scroll whitespace-nowrap'>
    {
      WORKSTYPES.map((work) => (
        <li class='w-[33vw] h-screen flex flex-none items-center justify-center text-4xl'>
          <WorkItem {...work} />
        </li>
      ))
    }
  </ul>
</div>

<script>
  const scrollContainer = document.querySelector('#scroll-container')

  scrollContainer.addEventListener('wheel', (event) => {
    event.preventDefault() // Evita el scroll vertical por defecto
    scrollContainer.scrollLeft += event.deltaY // Desplaza horizontalmente
  })
</script>
