---
interface Props {
  title: string
  source: string
  src: string
}
const { title, source, src } = Astro.props
---

<style>
  a:hover ~ #video-subcat {
    display: block;
  }

  .hovered-other {
    opacity: 0.5;
    transition: opacity 0.3s ease;
  }
</style>

<a href=`${src}` class='z-[1]'><h4 class='text-[#D9D9D9]'>{title}</h4></a>

<div
  id='video-subcat'
  style='transform: translate(-50%, -50%);'
  class='hidden w-full max-h-5xl m-auto absolute top-1/2 left-1/2 max-w-80 xl:max-w-4xl lg:max-w-3xl md:max-w-2xl sm:max-w-xl'>
  <video width='100%' height='100%' muted playsinline autoplay loop>
    <source src={source} />
    Your browser does not support the video element.
  </video>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    // Selecciona todos los elementos h4
    const h4Elements = document.querySelectorAll('h4')

    h4Elements.forEach((h4) => {
      // Agrega el evento hover (mouseenter y mouseleave)
      h4.addEventListener('mouseenter', () => {
        h4Elements.forEach((otherH4) => {
          if (otherH4 !== h4) {
            otherH4.classList.add('hovered-other')
          }
        })
      })

      h4.addEventListener('mouseleave', () => {
        h4Elements.forEach((otherH4) => {
          if (otherH4 !== h4) {
            otherH4.classList.remove('hovered-other')
          }
        })
      })
    })
  })
</script>
