---
import WorkItem from './WorkItem.astro'
const currentPath = Astro.url.pathname

const WORKSTYPES = [
  {
    title: 'Eventos',
    source: '/portadas-trabajos/eventos-portada.webm',
    style: 'ml-[30%] md:ml-[25%]',
    src: '/eventos'
  },
  {
    title: 'Bodas',
    source: '/portadas-trabajos/bodas-portada.webm',
    src: '/bodas'
  },
  {
    title: 'Moda',
    source: '/portadas-trabajos/moda-portada.webm',
    src: '/moda'
  },
  {
    title: 'Restauración',
    source: '/portadas-trabajos/restaurantes-portada.webm',
    src: '/restaurantes'
  },
  {
    title: 'Deportes',
    source: '/portadas-trabajos/deportes-portada.webm',
    src: '/deportes'
  },
  // {
  //   title: 'Educacion',
  //   source: '/portadas-trabajos/eduacion-portada.webm',
  //   src: '/educacion'
  // },
  {
    title: 'Corporativos y Marcas',
    source: '/portadas-trabajos/corporativo-portada.webm',
    src: '/corporativos'
  },
  {
    title: 'Alimentación',
    source: '/portadas-trabajos/alimentacion-portada.webm',
    src: '/alimentacion'
  },
  {
    title: 'Cortometraje',
    source: '/portadas-trabajos/cortometraje-portada.webm',
    style: 'mr-[15%] md:mr-[25%]',
    src: '/cortometraje'
  }
]
---

<div class='w-full h-full'>
  <ul
    id='scroll-container'
    style='scroll-behavior: smooth;  overflow-scrolling: touch;  -webkit-overflow-scrolling: touch;'
    class='list-none flex w-full h-full overflow-x-hidden whitespace-nowrap gap-24'>
    {
      WORKSTYPES.map((work) => (
        <li
          class={`${work.style || 'w-auto'} h-screen flex flex-none items-center justify-center text-2xl xl:text-9xl lg:text-7xl md:text-5xl sm:text-4xl`}>
          <WorkItem {...work} />
        </li>
      ))
    }
  </ul>
</div>

<script>
  const scrollContainer = document.querySelector('#scroll-container')
  const scrollSpeed = 7 // Ajusta este valor para aumentar o reducir la velocidad

  // Desplazamiento para PC
  scrollContainer.addEventListener('wheel', (event) => {
    event.preventDefault() // Evita el scroll vertical por defecto
    scrollContainer.scrollLeft += event.deltaY * scrollSpeed // Ajusta la velocidad
  })

  // Variables para manejo de desplazamiento táctil
  let isTouching = false
  let touchStartX = 0
  let scrollStartX = 0

  // Detectar el inicio del toque
  scrollContainer.addEventListener('touchstart', (event) => {
    isTouching = true
    touchStartX = event.touches[0].clientX // Posición inicial del toque
    scrollStartX = scrollContainer.scrollLeft // Posición inicial del scroll
  })

  // Detectar el movimiento del toque
  scrollContainer.addEventListener('touchmove', (event) => {
    if (!isTouching) return

    const touchX = event.touches[0].clientX
    const deltaX = touchStartX - touchX // Diferencia entre la posición inicial y actual del toque
    scrollContainer.scrollLeft = scrollStartX + deltaX // Actualizar el scroll
  })

  // Detectar el fin del toque
  scrollContainer.addEventListener('touchend', () => {
    isTouching = false
  })
</script>
