---
import NavbarMenu from '../NavbarMenu.astro'

interface Props {
  video: string
  title: string
  videoMobile: string
}
const { video, title, videoMobile } = Astro.props
---

<header class='h-screen relative'>
  <NavbarMenu />
  <video
    class='absolute top-0 left-0 object-cover w-screen h-screen contrast-75'
    width='320'
    height='240'
    muted
    loop
    autoplay
    playsinline>
    <source src={video} type='video/webm' />
  </video>
  <h1
    class='absolute text-black w-max text-2xl xl:text-9xl lg:text-7xl md:text-5xl sm:text-4xl'
    style='bottom: 50%; left: 50%; transform: translate(-50%, 0%);'>
    {title}
  </h1>
</header>
