---
interface Props {
  video1: string
  video2: string
  video3: string
  video4: string
  video5: string
}
const { video1, video2, video3, video4, video5 } = Astro.props
---

<div class='flex flex-col justify-center gap-8 md:w-[48%]'>
  <div class='w-full flex flex-col gap-8 md:flex-row'>
    <iframe
      class='animate-on-scroll w-full aspect-[1/2]'
      src={video1 + 'preview'}
      allow='autoplay'
      allowfullscreen></iframe>

    <iframe
      class='animate-on-scroll w-full aspect-[1/2]'
      src={video2 + 'preview'}
      allow='autoplay'
      allowfullscreen></iframe>
  </div>

  <iframe
    class='animate-on-scroll w-full h-[300px] md:h-[600px]'
    src={video3 + 'preview'}
    allow='autoplay'
    allowfullscreen></iframe>

  <div class='w-full flex flex-col gap-8 md:flex-row'>
    <iframe
      class='animate-on-scroll w-full aspect-[1/2]'
      src={video4 + 'preview'}
      allow='autoplay'
      allowfullscreen></iframe>

    <iframe
      class='animate-on-scroll w-full aspect-[1/2]'
      src={video5 + 'preview'}
      allow='autoplay'
      allowfullscreen></iframe>
  </div>
</div>
