---
interface Props {
  text: string
  video: string
}
const { text, video } = Astro.props
---

<div class='flex flex-col'>
  <aside>
    <iframe
      class='w-full h-full'
      src='https://drive.google.com/file/d/1zD2-gPXfKx94T5cygYpEgzP-vMrikQKB/preview'
      allow='autoplay'></iframe>
  </aside>
  <p class='text-center text-[24px] xl:text-[30px] md:text-[26px]'>
    {text}
  </p>
</div>
