#root {
  margin: 100px auto;
  max-width: 500px;
  padding-bottom: 100px;
}

.card {
  font-size: 164px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 20px;
  margin-bottom: -120px;
}

.progress-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--red);
  transform-origin: 0%;
}
